.swiper-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  max-width: 800px;
  height: 400px;
  overflow: hidden;
  margin: auto;
  border-radius: 20px;
}

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* ensures image fills container without stretching */
  border-radius: 20px;
  display: block;
}

.swiper-button-prev{
  display: none;
}

.swiper-button-next{
 display: none;
}

.swiper-pagination-bullet-active{
  color: red;
}